* {
  /*es como un comodin lo que estilemos aca se le va a aplicar a todos y cada uno de los elementos*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none; /*Le sacamos subrayado a los links*/
  color: inherit; /*lo hereda del color que venga de arriba*/
}
